<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>To-Do App</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %> 

 
    </h5>
    <h1>Welcome To-Do app</h1>
    <div class="containerOne">
    <a href="sales/">Sales</a>
    </div>
    <div class="containerTwo">
        <a href="quoter/">Quoter</a>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>