<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Quoter</title>
</head>
<body>
    <h1>Quoter</h1>
    <hr>
    <form action="/quoter">
        <div class="container">
        <div class="containerone">
        <ul>
            <label>Product
            </label> 
            <label>Qty</label> 
            <label>Price</label> 
            <label>Total</label> 
        </ul>
        <div class="containertwo">
        <select name="product">
            <option value="Product 1">Product 1</option>
            <option value="Product 2">Product 2</option>
            <option value="Product 3">Product 3</option>
            <option value="Product 4">Product 4</option>
            <option value="Product 5">Product 5</option>
        </select>
        <input type="box">
        <label>$</label>
        <label></label>
        <label><button>edit</button></label>
        <label><button>x</button></label>
        </div>
        </div>
    </div>
        <button>Add a product</button>
    </form>
</body>
</html>