<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Quoter</title>
</head>
<nav>
    <p> <%= new Date().getFullYear() %></p>
    <!-- <div class="login">
        <label>Log in</label><br>
        <label>Log out</label><br> -->
</nav>
<h1>Quoter</h1><hr>
<div class="box">
<body>
   
    <form action="/quoter">
        <div class="container">
        <div class="containerone">
        <ul>
            <label>Product</label> 
            <label>Qty</label> 
            <label>Price</label> 
            <label>Total</label> 
        </ul><hr>
        <div class="containertwo">
        <select name="product">
            <option value="Product 1">Product 1</option>
            <option value="Product 2">Product 2</option>
            <option value="Product 3">Product 3</option>
            <option value="Product 4">Product 4</option>
            <option value="Product 5">Product 5</option>
        </select>
        
            <input type="box" placeholder="Qty">
        
                <label>$</label>
                <label>$</label>
                <label></label>
        <div class="editButtons">
            <label><button>edit</button></label>
            <label><button>x</button></label>
        </div>
        </div>
        </div>
    </div>
    <div class="button">
    <button id="addButton">Add a product</button>
</div>    
</form>
<div class="print">
    <button>Print</button>
</div>
    <footer>
        <hr><p>Copyright &copy; All Rights Reserved Booklist <%= new Date().getFullYear() %></p>
    </footer>
    
    </div>
</body>

</html>