h1 {
    text-align: center;
}
hr {
    margin: 0 0 20px 0;
}
.box {
    border-radius: 20px;
    height: fit-content;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 0;
    padding: 20px; 
    line-height: 1.5em; 
}
/* .container {
    margin: 0;
    background-color: #FBDD8E; 
    border-radius: 20px;
    padding: 10px 0 1px 0;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    display: flex;
    word-spacing: 5em;
} */

table {
    width: 100%;
    padding: 3px 6px 3px 1px;
    text-align: center;
}

.button {
   text-align: end;
   padding: 20px;
}

.print {
    text-align: center;
    margin: 0 0 10px 0;
    bottom: 0;
}
.editButtons {
   text-align:  end;
    word-spacing: 1em;
}
.totals {
    text-align: end;
    bottom: 0%;
}
