<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <title>New Sale</title>
</head>
<body>
    <nav>
        <%- include('../partials/nav.ejs') %>
    </nav>
    
    <h1>New Sale</h1>
    <form action="/sales" method="POST">
    <label>Product
        <input type="text" name="product">
    </label></br>
    <label>Price
        <input type="text" name="price">
    </label></br>
    <label>Qty
        <input type="text" name="qty">
    </label></br>
            <input type="submit" value="Add Sale">
        
    </form>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>